body{
    margin: 0;
    padding: 0;
    background-color: #312F2F;
}
/* navigation */
header a {
    text-decoration: none;
    color: #297373;
    font-family: 'Russo One', sans-serif;
    padding: 10px 0 10px 0;
    transition: 0.2s ease;
}

header a:hover{
    color: #1d4c4c;
}
header a:active{
    color: #FDFFFC; 
}

header nav{
    background-color: #121212;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* navigation */


main {
    margin: auto;
    margin-top: 10px;
    width: 1300px;
    font-family: 'Martian Mono', monospace;
    
}
main .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1{
    font-family: 'Bebas Neue';
    font-weight: 100;
    color: #FDFFFC;
    position: absolute;
    font-size: 70px;
}

main h2{
    font-size: 25px;
    color: white;
}

main h2::before{
    content: "; ";
    color: #32aaaa;
}
main p{
    font-size: 15px;
    color: white;
}

footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #121212;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Martian Mono', monospace;

}




